<!doctype html>
<html ng-app="demo" ng-controller="RootController">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Angular-walkthrough by amajedi</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/github-light.css">
    <link rel="stylesheet" href="stylesheets/angular-walkthrough.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body walkthrough wt-start="wtStart" wt-next="wtNext" wt-prev="wtPrev" wt-cancel="wtCancel" wt-active="wtActive">
    <div class="wrapper">
      <header>
        <div>
          <h1>Angular-walkthrough</h1>
          <p>An AngularJS directive for easily creating website walkthroughs</p>
        </div>
        <button class="btn btn-success" style="width:100%;margin-bottom:1em;" ng-click="wtStart('default')" wt-step="1" wt-group="default" wt-position="right">
          <wt-step-content>
            You started the walkthrough, nice!
            <br /><br />
            You can put any <b>HTML</b> content in here.
            <br /><br />
            This is a non-interactive step, notice how you can't click [Start Demo] again.
            <br /><br />
            Click [Next] to continue the walkthrough.
          </wt-step-content>
          Start Demo
        </button>

        <div wt-step="3" wt-position="right">
        <wt-step-content>
          Thanks, to learn more or contribute to the project, check out the <a href="https://github.com/amajedi/angular-walkthrough" target="_blank">GitHub</a>!
        </wt-step-content>
        <p class="view"><a href="https://github.com/amajedi/angular-walkthrough">View the Project on GitHub <small>amajedi/angular-walkthrough</small></a></p>
        </div>


        <ul>
          <li><a href="https://github.com/amajedi/angular-walkthrough/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/amajedi/angular-walkthrough/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/amajedi/angular-walkthrough">View On <strong>GitHub</strong></a></li>
        </ul>
      </header>
      <section>
        <h3>
<a id="welcome-to-github-pages" class="anchor" href="#welcome-to-github-pages" aria-hidden="true"><span class="octicon octicon-link"></span></a>Guide users through your angular website</h3>
<span>
<h3><a class="anchor" aria-hidden="true"><span class="octicon octicon-link"></span></a>Install</h3>

<div wt-step="2" wt-position="left" wt-interact ng-click="wtNext()">
  <wt-step-content>
    This is an interactive step, the consumer decides when to move onto the next step via a call to the wtNext function. In this case, <span style="color:red;">click anywhere inside the highlighted area</span> to move onto the next step.
  </wt-step-content>
<p>Install via bower:</p>
<pre><code>bower install angular-walkthrough
</code></pre></div>

<p>Add dependencies:</p>
<pre><code data-language="html">&lt;link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">&lt;/link>
&lt;link rel="stylesheet" href="bower_components/angular-walkthrough/dist/angular-walkthrough.min.css">&lt;/link>
</code></pre>

<pre><code data-language="html">&lt;script src="bower_components/jquery/jquery.js">&lt;/script>
&lt;script src="bower_components/angular/angular.js">&lt;/script>
&lt;script src="bower_components/bootstrap/dist/js/bootstrap.min.js">&lt;/script>
&lt;script src="bower_components/angular-walkthrough/dist/angular-walkthrough-tpls.min.js">&lt;/script>
</code></pre>

<p>Don't forget to add angular-walkthrough as a dependency to your angular module</p>

<pre><code data-language="html">angular.module('myApp', ['angular-walkthrough']);
</code></pre>
</span>
<h3>
<a class="anchor" aria-hidden="true"><span class="octicon octicon-link"></span></a>Usage</h3>

<pre><code data-language="html">&lt;body <span class="red">walkthrough wt-start="startWalkthrough"</span>>
  &lt;div <span class="red">wt-step="1" wt-group="demo"</span>>
    <span class="red">&lt;wt-step-content></span>
      Hello World!
    <span class="red">&lt;/wt-step-content></span>
  &lt;/div>
&lt;/body>
</code></pre>
<pre><code data-language="html">$scope.startWalkthrough("demo");
</code></pre>

<p>Add the "walkthrough" directive to parent element containing all steps, this is usually the &lt;body> element. This is where the backdrop will be placed.</p>

<p>Additionally, functions are exposed to programmatically perform actions such as starting/stopping the walkthrough, moving to the next/previous step, as well as checking to see if a walkthrough step is currently active. You can expose these functions onto your scope by the wtStart, wtCancel, wtNext, wtPrev, and wtActive attributes. wtCancel returns a promise which resolves when the tour is cancelled.</p>

<p>If you need to run some code right before the user clicks "Next" or "Finish" on a step, provide a callback function to the wtOnNext attribute.</p>
<p>If you need to change the text of the button on the step (defaults to "Next" or "Finish"), wtBtnText is available.</p>

<p>To create a step, simply add the wtStep directive to any target element specifying the step number as the value. To have multiple walkthroughs, name your walkthrough using the wtGroup directive. You can start a specific walkthrough by passing the name to the start function. To specify HTML content to go inside the popover, add the wtStepContent directive as a child of wtStep and add the content in there. If you don't want to mess with that, you can also specify text content by using the wtText directive like so: </p>

<pre><code data-language="html">&lt;body walkthrough wt-start="startWalkthrough">
  &lt;div wt-step="1" wt-group="demo" <span class="red">wt-text="Hello World!"</span>>&lt;/div>
&lt;/body>
</code></pre>

<p>To control the popover position, use wtPosition, supported values are: left, top, right, bottom.</p>

<p>Sometimes, you may want to have a user interact with the target element before moving to the next step. This is supported by adding the wtInteract directive to the element which has the wtStep directive. This will enable interaction with the target element, otherwise, the target element will have a cover layer preventing user interaction. In interact mode, the next or finish button will be disabled, you'll need to explicitly move to the next step once the user interaction is complete.</p>

<h3>
<a class="anchor" aria-hidden="true"><span class="octicon octicon-link"></span></a>Customize</h3>

<p>By using the wtStepContent directive, you define the HTML for the step's content.</p>

<p>You can also define your own template to use for the toolbar which displays the step number and next/finish buttons. To do this, use the non-templated version of the code and define your own template with the name "wt-popover-toolbar.html" in the $templateCache. You may also define your own CSS file.</p>

<h3>
<a id="support-or-contact" class="anchor" href="#support-or-contact" aria-hidden="true"><span class="octicon octicon-link"></span></a>Support or Contact</h3>

<p>
  Having trouble? Check out the documentation at <a href="https://github.com/amajedi/angular-walkthrough">https://github.com/amajedi/angular-walkthrough</a> or contact me <a href="mailto:amajedi@gmail.com">amajedi@gmail.com</a> and I'll help you out.</p>
      </section>
      <footer>
        <p>This project is maintained by <a href="https://github.com/amajedi">amajedi</a></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="javascripts/angular-walkthrough-tpls.min.js"></script>
    <script type="text/javascript">
      var app = angular.module('demo', ['angular-walkthrough']);
      app.controller('RootController', ['$scope', function ($scope) {
        console.log("RootController Running...");
      }]);
    </script>
  </body>
</html>